
@media (max-width: 991px){
  .takemeback{
    font-size:24px;
    padding:10px 20px;
    border-width:3px;
    border-color:#f04d44;
    border-style:solid;
    text-align: center;
    background:transparent;
    width:80%;
    left:10%;
    position:absolute;
  }

  .takemeback:hover{
    background:#f04d44;
    color:#fdd80e;
  }
}

@media (min-width: 992px){
  .takemeback{
    font-size:24px;
    padding:10px 20px;
    border-width:3px;
    border-color:#f04d44;
    border-style:solid;
    text-align: center;
    background:transparent;
    width:40%;
    left:30%;
    position:absolute;
  }

  .takemeback:hover{
    background:#f04d44;
    color:#fdd80e;
  }
}

.para{
  text-align:center;
  font-size: 24px;
  padding-bottom:20px;
}
