.about{
  border-left-width: 1.5px;
  border-left-color:#d3d3d3;
  border-left-style:solid;
  border-right-width: 1.5px;
  border-right-color:#d3d3d3;
  border-right-style:solid;
}


.rickshaw{
  float:right;
  margin-top:75px;
  right:0px;
}

.pushDown{
  margin-top:15%;
}

.row{
  overflow:hidden;
  margin-bottom:40px;
}

.makeColumn{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
