/*Product Image Formatting*/

@media (min-width: 992px){

  .product-type{
    margin-top:20%;
    margin-left:17%;
  }

  .handsAbout{
    position:relative;
    margin-top:-40%;
  }

  #cart-toggle{
    opacity:1;
  }
  
  .deskNav{
    opacity:1;
  }

}

@media (max-width: 991px){

  .product-type{
    margin-top:13%;
  }

  .handsAbout{
    position:relative;
    margin-top:-40%;
  }
  
  #cart-toggle{
    margin-top:-1%;
    opacity:1;
  }
  
  .deskNav{
    opacity:1;
  }

}
