/*Logo*/

  .logo{
    padding-top:10px;
    padding-bottom:2%;
    z-index:999;
  }

  .logo .mobileHeader{
    -webkit-transition: opacity 0.75s; /* Safari */
    transition: opacity 0.75s;
  }

  .logoAppear{
    z-index:999;
    position:fixed;
    opacity:0;

  }

  .logoAppear .mobileHeader{
    -webkit-transition: opacity 0.75s; /* Safari */
    transition: opacity 0.75s;
  }

/*Content*/

  .image2{
    margin-top:3em;
  }

  .shopnow{
    writing-mode:tb-rl;
    float:right;
    margin-top:10em;
  }

  .image3{
    margin-top:5%;
  }

/*Hands*/

  .hands{
    margin-top:5%;
  }

/*Mailchimp footer*/

  #mc_embed_signup{
    margin-bottom:3%;
  }

  .signup {
    margin-top:-3%;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 23px;
    color: #f04d44;
  }

  .sign-up-form {
    display: flex;
    margin-top: 35px;
    background:#f2f2f2;
  }

  .sign-up-button {
    border: none;
    background: #f04d44;
    color: #f2f2f2;
    height: 35px;
    margin: 10px 0;
    width: 35px;
    border-radius: 0;
  }

  .emailAdd{
    border: none;
    border-bottom: 1px solid;
    border-color:#f04d44;
    font-size: 23px;
    color:#f04d44;
    font-family: 'Ubuntu Mono', monospace;
    background:#f2f2f2;
  }

  .emailButt{
    background:#f04d44;
    color:#fdd80e;
    border:none;
    font-size:23px;
    padding-left:5px;
    padding-right:5px;
    width:5%;
    transform: translateY(-5px);
  }

  #emailAddress {
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid;
    border-color: #f04d44;
    margin: 10px 2px 10px auto;
    height: 35px;
  }
