/*Logo*/

  .logo{
    padding-top:10px;
    padding-bottom:2%;
    z-index:999;
  }

  .logo .mobileHeader{
    -webkit-transition: opacity 0.75s; /* Safari */
    transition: opacity 0.75s;
  }

  .logoAppear{
    z-index:999;
    position:fixed;
    opacity:0;

  }

  .logoAppear .mobileHeader{
    -webkit-transition: opacity 0.75s; /* Safari */
    transition: opacity 0.75s;
  }

/*Collections*/
@media (min-width: 992px){

  .product-type{
    margin-top:20%;
    margin-left:17%;
  }

}

@media (max-width: 991px){

  .product-type{
    margin-top:13%;
  }
 
}
