/*Shamama css commit part 1*/
/*basic css*/
body{
  font-family:Ubuntu Mono;
  font-size:3em;
  color: #f04d44;
  background:#f2f2f2;
}

a{
  text-decoration: none;
  color: #f04d44;
}

a:hover{
  text-decoration: none;
  background-color:#fdd80e;
  color: #f04d44;
  outline:0;
}

a:focus{
  outline:0;
}

.container-fluid{
  margin:0;
}
/*basic css end*/
/*Shamama css commit part 1 end*/

/*Abi css commt*/
/*Abi css commit end*/


/*Shamama css commit part 2*/
/*shopnow and about us css*/

.image2{
  margin-top:3em;
}

.shopnow{
  writing-mode:tb-rl;
  float:right;
  margin-top:10em;
}

.image3{
  margin-top:5%;
}

/*shopnow and about us css end*/
/*Shamama css commit part 2 end*/
