/*Shamama css commit part 1*/
/*basic css*/
body{
  font-family:Ubuntu Mono;
  font-size:3em;
  color: #f04d44;
  background:#f2f2f2;
}

a{
  text-decoration: none;
  color: #f04d44;
}

a:hover{
  text-decoration: none;
  background-color:#fdd80e;
  color: #f04d44;
  outline:0;
}

a:focus{
  outline:0;
}

.container-fluid{
  margin:0;
}
/*basic css end*/
/*Shamama css commit part 1 end*/

/*Abi css commt*/
/*Abi css commit end*/


/*Shamama css commit part 2*/
/*shopnow and about us css*/

.image2{
  margin-top:3em;
}

.shopnow{
  writing-mode:tb-rl;
  float:right;
  margin-top:10em;
}

.image3{
  margin-top:5%;
}

/*shopnow and about us css end*/
/*Shamama css commit part 2 end*/

/*Ambia css commit*/
/*Ambia css commit end*/

/*Shamama css commit part 3*/
/*bootstrap column reformat*/

.col-lg-12{
  padding-right:0px;
  padding-left:0px;
}

.col-md-12{
  padding-right:0px;
  padding-left:0px;
}

.col-sm-12{
  padding-right:0px;
  padding-left:0px;
}

.col-xs-12{
  padding-right:0px;
  padding-left:0px;
}

.col-xs-1.menu{
  padding:0;
  margin-left:5%;
}

.col-sm-1.menu{
  padding:0;
  margin-left:5%;
}

.col-xs-1.cart{
  padding:0;
  margin-top:0.5%;
  margin-right:5%;
}

.col-sm-1.cart{
  padding:0;
  margin-top:0.5%;
  margin-right:5%;
}

.col-xs-8.logoMob{
  margin-right:2.5%;
  margin-left:2.5%;
}

.col-sm-8.logoMob{
  margin-right:2.5%;
  margin-left:2.5%;
}

/*bootstrap column reformat end*/
/*Shamama css commit part 3 end*/
